
{{- if .Values.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.svcname }}
spec:
  selector:
    app: {{ .Values.name }}
  ports:
    - port: {{ .Values.port }}
      targetPort: {{ .Values.port }}
{{- end }}
